* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-position: center center;
    background-size: cover;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.slider-container {
    position: relative;
    width: 70vw;
    height: 70vh;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.26), 0 3px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.slide {
    opacity: 0;
    width: 100vw;
    height: 100vh;
    left: -15vw;
    top: -15vh;
    position: absolute;
    background-position: center;
    background-size: cover;
    transition: 0.5s ease;
    z-index: 1;
}

.slide.active {
    opacity: 1;
}

.arrow {
    position: fixed;
    font-size: 30px;
    top: 50%;
    border: 2px solid orange;
    background: transparent;
    padding: 20px;
    color: #fff;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow.left-arrow {
    left: calc(15vw - 65px);
}

.arrow.right-arrow {
    right: calc(15vw - 65px);
}